<div class="slider">
    <div class="item">
        <img src="https://funart.pro/uploads/posts/2020-04/thumbs/1587112792_24-p-foni-dlya-artov-109.jpg" alt="Первый слайд">
    </div>
    <div class="item">
        <img src="https://funart.pro/uploads/posts/2020-04/thumbs/1587112790_26-p-foni-dlya-artov-115.jpg" alt="Второй слайд">
    </div>
    <div class="item">
        <img src="https://funart.pro/uploads/posts/2020-04/thumbs/1587112802_4-p-foni-dlya-artov-27.jpg" alt="Третий слайд">
    </div>
    <a class="prev" onclick="minusSlide()">&#10094;</a>
    <a class="next" onclick="plusSlide()">&#10095;</a>
</div>